<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
  </nav>
  <div class="container">
    <h1>Admin(관리자 페이지)</h1>
    <a href="/download">DB백업하기(download DB)</a>
  </div>


</body>
</html>